.layout {
    margin: 0 7%;
    padding: 0;

    .header {
        margin: 35px 0 75px;
    }

    .imgContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .scrollIndicator {
            width: 5px;
            height: 80vh;
            background: #6969ff;
            margin-left: 0;
            margin-top: 20vh;
        }

        .heroImg {
            width: 80vw;
            margin-right: -20%;
            margin-top: -20vh;
        }
    }

    .headline {
        margin: 25px 0 200px;
        padding: 0 150px;
        text-align: center;
        font-size: 23px;
        position: relative;

        .circle {
            position: absolute;
            top: -50%;
            right: 10%;
            width: 40vh;
            height: 40vh;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.125);
        }

        p {
            margin: 10px;
        }
        span {
            font-weight: bold;
        }
    }

    .work {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 85px;

        .workDescription {
            width: 50%;
            margin-right: 7%;

            h2 {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 0 0 20px;
            }

            span {
                font-weight: 600;
            }
        }
    }

    .cardPreview {
        display: flex;
        justify-content: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        position: relative;

        .circle {
            position: absolute;
            top: -23%;
            left: -6%;
            width: 46vh;
            height: 46vh;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.125);
        }

        .timelineBar {
            position: absolute;
            bottom: -85px;
            left: -10%;

            img {
                width: 40vw;
            }
        }

        .aboutDescription {
            width: 50%;
            margin-left: 7%;

            h2 {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 0 0 20px;
            }

            span {
                font-weight: 600;
            }
        }
    }

    .techno {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 100px;
        position: relative;

        .circle {
            position: absolute;
            top: -27%;
            right: 3%;
            width: 42vh;
            height: 42vh;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.125);
        }

        .technoImg {
            width: 35%;
            margin-left: 2.5%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 15%;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                width: 100%;
            }
        }

        .technoDescription {
            width: 45%;
            margin-right: 7%;

            h3 {
                font-size: 2.1rem;
                font-weight: 800;
                margin: 0 0 40px;
            }
        }
    }

    .contact {
        margin: 250px 0 100px;
        padding: 0 7%;
        position: relative;

        .circle {
            position: absolute;
            top: -18%;
            left: -2%;
            width: 35vh;
            height: 35vh;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.125);
        }
        .bigContact {
            font-size: 125px;
            font-weight: 800;
            line-height: 115px;
            letter-spacing: -4.5px;
            margin-bottom: 25px;
        }

        button {
            padding: 7px 10%;
            color: white;
            background: #333;
            border: none;
        }
    }
}

.titleOverlay {
    .big {
        font-size: 5rem;
        color: #6969ff;
        font-weight: 400;
    }
}
