.layout {
    margin: 0 7%;
    padding: 0;

    .header {
        margin: 35px 0 75px;

        @media screen and (max-width: 800px) {
            margin: 35px 0 45px;
        }
    }

    .imgContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .scrollIndicator {
            width: 5px;
            height: 500px;
            background: #6969ff;
            margin-left: 0;
            margin-top: 20vh;

            @media screen and (max-width: 800px) {
                height: 450px;
            }
        }

        .heroImg {
            width: 1000px;
            margin-right: -20%;
            margin-top: -20vh;

            @media screen and (max-width: 1000px) {
                width: 90vw;
            }

            @media screen and (max-width: 800px) {
                width: 100vw;
            }

            @media screen and (max-width: 678px) {
                min-width: 850px;
                margin-right: -70%;
            }

            @media screen and (max-width: 550px) {
                margin-right: -90%;
            }

            @media screen and (max-width: 480px) {
                margin-right: -100%;
            }
        }
    }

    .headline {
        margin: 25px 0 200px;
        padding: 0 150px;
        text-align: center;
        font-size: 23px;
        position: relative;

        @media screen and (max-width: 850px) {
            padding: 0 75px;
        }

        @media screen and (max-width: 850px) {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 678px) {
            padding: 0 25px;
        }

        @media screen and (max-width: 678px) {
            font-size: 18px;
            margin: 15px 0 20px;
        }

        .circle {
            position: absolute;
            top: -50%;
            right: 10%;
            width: 40vh;
            height: 40vh;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.125);
        }

        p {
            margin: 10px;
        }
        span {
            font-weight: bold;
        }
    }

    .work {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 85px;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
        }

        .workDescription {
            width: 50%;
            margin-right: 7%;

            @media screen and (max-width: 800px) {
                width: 80%;
                margin-right: 0;
            }

            h2 {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 0 0 20px;

                @media screen and (max-width: 450px) {
                    font-size: 2.5rem;
                }
            }

            span {
                font-weight: 600;
            }
        }
    }

    .cardPreview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: 750px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 0.5fr);
        }

        @media screen and (max-width: 450px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 0.5fr);
        }

        div {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        position: relative;

        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            justify-content: center;
            margin-bottom: 0;
        }

        .circle {
            position: absolute;
            z-index: -2;
            top: -23%;
            left: -6%;
            width: 46vh;
            height: 46vh;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.125);

            @media screen and (max-width: 800px) {
                top: 15%;
            }
        }

        .timelineBar {
            position: absolute;
            bottom: -85px;
            left: -10%;

            img {
                width: 40vw;
                min-width: 250px;
            }
        }

        .aboutDescription {
            width: 50%;
            margin-left: 7%;

            @media screen and (max-width: 800px) {
                width: 80%;
                margin-left: 0;
            }

            h2 {
                font-size: 3.5rem;
                font-weight: 800;
                margin: 0 0 20px;

                @media screen and (max-width: 450px) {
                    font-size: 2.5rem;
                }
            }

            span {
                font-weight: 600;
            }
        }
    }

    .techno {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 100px;
        position: relative;

        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            justify-content: center;
            margin-bottom: 0;
        }

        .circle {
            position: absolute;
            top: -27%;
            right: 3%;
            width: 42vh;
            height: 42vh;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.125);

            @media screen and (max-width: 700px) {
                top: -10%;
            }
        }

        .technoImg {
            width: 35%;
            margin-left: 2.5%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 15%;
            justify-content: center;
            align-items: center;
            position: relative;

            @media screen and (max-width: 800px) {
                margin: 60px 0;
                width: 80%;
            }

            img {
                width: 100%;
            }
        }

        .technoDescription {
            width: 45%;
            margin-right: 7%;

            @media screen and (max-width: 800px) {
                width: 80%;
                margin-right: 0;
            }

            h3 {
                font-size: 2.1rem;
                font-weight: 800;
                margin: 0 0 40px;
            }
        }
    }

    .contact {
        margin: 250px 0 150px;
        padding: 0 7%;
        position: relative;

        @media screen and (max-width: 900px) {
            margin: 200px 0 100px;
        }

        .circle {
            position: absolute;
            top: -18%;
            left: -2%;
            width: 35vh;
            height: 35vh;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.125);
        }
        .bigContact {
            font-size: 125px;
            font-weight: 800;
            line-height: 115px;
            letter-spacing: -4.5px;
            margin-bottom: 25px;

            @media screen and (max-width: 900px) {
                font-size: 90px;
            }

            @media screen and (max-width: 640px) {
                font-size: 60px;
                line-height: 70px;
                letter-spacing: -2.5px;
            }

            @media screen and (max-width: 440px) {
                font-size: 40px;
                line-height: 60px;
                letter-spacing: 0;
            }
        }

        button {
            padding: 7px 10%;
            background: #333;
            font-size: 1.05rem;
            border: none;
            cursor: pointer;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.footer {
    margin: 0;
    padding: 0;

    .infos {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 50px 10%;
        background: #f5f5f5;

        @media screen and (max-width: 678px) {
            flex-direction: column;
            justify-content: center;
            padding: 50px 15%;
        }

        h4 {
            margin: 0 0 20px;
            padding: 0;

            @media screen and (max-width: 678px) {
                margin: 20px 0;
            }
        }

        p {
            margin: 0;
            padding: 0;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .coffee {
        width: 100vw;
        margin: 0;
        padding: 0;
        background: #6969ff;
        color: white;
        font-size: 0.75rem;
        text-align: center;

        p {
            margin: 0;
            padding: 7px;
        }
    }

    .copy {
        font-size: 0.85rem;
        text-align: center;
        background: #333;
        color: white;

        p {
            margin: 0;
            padding: 10px;
        }
    }
}

.titleOverlay {
    .big {
        font-size: 5rem;
        color: #6969ff;
        font-weight: 400;
    }
}
